<div id="AssessmentIndex" class="view-content" ng-controller="tenant.views.assessment.index as vm">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="portlet light" busy-if="vm.loading">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject">{{vm.title}} {{vm.headingAppend}}</span>
                    </div>
                    <div class="actions dropdown inputs">
                        <div class="input-small-new inline-block">
                            <form action="" class="search-form search-style-class">
                                <div class="form-group has-feedback input-inline search-form-group">
                                    <label for="search" class="sr-only">@L("Search")</label>
                                    <input type="text" ng-model="vm.filter" enter-key="vm.searchValue()" class="form-control form-control-solid search-input input-circle font-13-main clearable" placeholder="search keywords...">
                                    <a class="form-control-feedback search-close searchIcon-close fa fa-times" ng-click="vm.clearFilter()"></a>
                                    <i class="material-icons form-control-feedback searchIcon">@L("search")</i>
                                </div>
                            </form>
                        </div>
                        @*<a ng-click="vm.assessmentDetailsOpen = !vm.assessmentDetailsOpen" title="Show Assessment Detail view" class="icon-wrapper">
                                <i ng-show="!vm.assessmentDetailsOpen" class="material-icons custom-icon">menu</i>
                                <i ng-show="vm.assessmentDetailsOpen" class="material-icons custom-icon">view_headline</i>
                            </a>*@
                        <a ng-click="vm.create()" ng-if="vm.permissions.create" title="Add a new Assessment" class="icon-wrapper">
                            <i class="material-icons custom-icon"><span class="fa fa-plus"></span></i>
                        </a>
                        <a class="icon-wrapper" title="Filter" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="material-icons custom-icon">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:;" class="bold" ng-click=" vm.assessmentStatusFilterSelection(999)">@L("ShowAll")</a>
                            </li>
                            <li class="divider"> </li>
                            <li>
                                <a href="javascript:;" ng-click=" vm.assessmentStatusFilterSelection(0)">@L("PendingConfirmation")</a>
                            </li>
                            <li>
                                <a href="javascript:;" ng-click=" vm.assessmentStatusFilterSelection(1)">@L("Confirmed")</a>
                            </li>
                            <li>
                                <a href="javascript:;" ng-click=" vm.assessmentStatusFilterSelection(2)">@L("Cancelled")</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="portlet-body air-card p-0-top-bottom">
                    <section class="air-card-hover padding-bottom-10" ng-repeat="assessment in vm.assessmentList" ng-click="vm.view(assessment.id)">
                        <div class="row">
                            <div class="col-md-8 col-sm-8">
                                <div style="width:30%; float:left;" ng-if="assessment.isScoreCalculationRequired">
                                    <ui-knob value="assessment.totalScore" options="vm.getOption(assessment.assessmentName, assessment.colorCode)"></ui-knob>
                                </div>
                                <div style="width:70%; float:left; padding-left: 15px;">
                                    <div class="row">
                                        <span class="caption">{{assessment.name}}</span>
                                        <span class="otherText uppercase">
                                            ({{assessment.registrationDocumentNumber}})
                                        </span>
                                    </div>
                                    <div class="row" ng-if="assessment.isCategoryRequired">
                                        <span class="bold">{{assessment.category}}</span>
                                    </div>
                                    <div class="row">
                                        Assessment on <span class="bold">{{assessment.assessmentDate | dateFormat }}</span>
                                    </div>
                                    <div class="row" ng-if="assessment.isNextReviewMonthRequired">
                                        Next Review on<span class="bold"> {{assessment.nextReviewDate | dateFormat}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 text-right" style="padding-right:30px;">
                                <div class="row">
                                    <span class="bold" ng-if="!assessment.isConfirmed && !assessment.isCancelled">@L("PendingConfirmation")</span>
                                    <span class="bold" ng-if="assessment.isConfirmed  && !assessment.isCancelled">@L("Confirmed")</span>
                                    <span class="bold" ng-if="assessment.isCancelled">@L("Cancelled")</span>
                                </div>
                                <div class="row">
                                    <a class="no-decoration padding-right-10" title="Pending Confirmation" href="#" ng-if="!assessment.isConfirmed && !assessment.isCancelled"><i class="fa fa-unlock" style="font-size:20px" aria-hidden="true"></i></a>
                                    <a class="no-decoration padding-right-10" title="Confirmed" href="#" ng-if="assessment.isConfirmed  && !assessment.isCancelled"><i class="fa fa-lock" style="font-size:20px" aria-hidden="true"></i></a>
                                    <a class="no-decoration padding-right-10" title="Cancelled" href="#" ng-if="assessment.isCancelled"><i class="fa fa fa-ban" style="font-size:20px" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
                <simple-paginator data="vm.data" key="vm.key" on-page-changed="vm.loadResults(requestParams)"></simple-paginator>
            </div>
        </div>
    </div>
</div>