@model CreateOrUpdatePersonInput

@using Pulsesync.IngoTPCC.Application.Person.Dto;

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject">@L("BioData")</span>
        </div>
    </div>
    <div class="portlet-body">
        <div ng-switch="vm.mode">
            <div ng-switch-when="edit">
                @using (var f = Html.BeginSubForm())
                {
                    using (var s = f.BeginSection())
                    {
                        @(s.FieldFor(m => m.SalutationId)
                            .Attrs(new
                            {
                                ng_model = "vm.model.salutationId"
                            })
                            .AsDropDown())

                        @(s.FieldFor(m => m.FullName)
                            .Attrs(new
                            {
                                ng_model = "vm.model.fullName"
                            }))

                        @(s.FieldFor(m => m.Surname)
                            .Attrs(new
                            {
                                ng_model = "vm.model.surname"
                            }))

                        @(s.FieldFor(m => m.GenderId)
                            .Attrs(new
                            {
                                ng_model = "vm.model.genderId"
                            })
                            .AsDropDown())

                        @(s.FieldFor(m => m.MaritalStatusId)
                            .Attrs(new
                            {
                                ng_model = "vm.model.maritalStatusId"
                            })
                            .AsDropDown())

                        @(s.FieldFor(m => m.RegistrationDocumentTypeId)
                            .Attrs(new
                            {
                                ng_model = "vm.model.registrationDocumentTypeId",
                                ng_callbackFunc = "vm.registrationDocumentTypeMasterDataInitialized(result)",
                                ng_change = " vm.registrationDocumentTypeIdOnChange()"
                            })
                            .AsDropDown())

                        @(s.FieldFor(m => m.RegistrationDocumentNumber)
                            .Attrs(new
                            {
                                ng_model = "vm.model.registrationDocumentNumber",
                                ng_blur = "vm.registrationDocumentNumberOnBlur()",
                                ng_disabled = "vm.registrationDocumentNumberDisabled",
                                validator = "vm.checkRegistrationDocumentNumberFormat(vm.model.registrationDocumentNumber)===true",
                                invalid_message = "vm.checkRegistrationDocumentNumberFormat(vm.model.registrationDocumentNumber);",
                                checkregisterdoc = "",
                                skip = "false",
                                personid = "vm.model.id",
                                checkregisterdoc_message = "'" + @L("DuplicateIDFormat") + "'"
                            }))

                        @(s.FieldFor(m => m.DateOfIssue)
                            .Attrs(new
                            {
                                ng_model = "vm.model.dateOfIssue",
                                Validate = "false",
                                Restrict = "reject",
                                maxdate = "0d"
                            }))

                        @(s.FieldFor(m => m.DateOfBirth)
                            .Attrs(new
                            {
                                ng_model = "vm.model.dateOfBirth",
                                ng_model_options = "{ debounce: 1000 }",
                                ng_change = "vm.setChineseHoroscope()",
                                Validate = "false",
                                Restrict = "reject",
                                maxdate = "0d"
                            }))

                        @(s.FieldFor(m => m.ChineseHoroscopeId)
                            .Attrs(new
                            {
                                ng_model = "vm.model.chineseHoroscopeId"
                            })
                            .AsDropDown())

                        @(s.FieldFor(m => m.RaceId)
                            .Attrs(new
                            {
                                ng_model = "vm.model.raceId"
                            })
                            .AsDropDown())

                        @(s.FieldFor(m => m.NationalityId)
                            .Attrs(new
                            {
                                ng_model = "vm.model.nationalityId"
                            })
                            .AsDropDown())

                        @(s.FieldFor(m => m.CitizenshipId)
                            .Attrs(new
                            {
                                ng_model = "vm.model.citizenshipId"
                            })
                            .AsDropDown())

                        @(s.FieldFor(m => m.ReligionId)
                            .Attrs(new
                            {
                                ng_model = "vm.model.religionId"
                            })
                            .AsDropDown())

                        @(s.FieldFor(m => m.PlaceOfWorship)
                            .Attrs(new
                            {
                                ng_model = "vm.model.placeOfWorship"
                            }))
                    }
                }
            </div>
            <div class="view biodata" ng-switch-default>
                <div class="biodata-line">
                    <div class="bold">{{ vm.model.salutation.description }} {{ vm.model.fullName }}</div>
                    <span class="ps-icon-male male-icon-blue" ng-if="vm.model.gender.description.toLowerCase() == 'male'"></span>
                    <span class="ps-icon-female female-icon-pink" ng-if="vm.model.gender.description.toLowerCase() == 'female'"></span>
                    <span><span ng-if="!vm.model.gender.description">&nbsp;</span>{{ vm.model.maritalStatus.description }}</span>
                </div>
                <div class="biodata-line">
                    <span class="ps-icon-world grey"></span>
                    <ul class="otherText list-inline list-inline-dot">
                        <li uib-popover="@L("RegistrationDocumentType")" popover-placement="bottom" popover-trigger="'mouseenter'"
                            ng-if="vm.model.registrationDocumentType.description">
                            {{ vm.model.registrationDocumentType.description }}
                        </li>
                        <li uib-popover="@L("RegistrationDocumentNo")" popover-placement="bottom" popover-trigger="'mouseenter'"
                            ng-if="vm.model.registrationDocumentNumber">
                            {{ vm.model.registrationDocumentNumber }}
                        </li>
                        <li uib-popover="@L("DateOfIssue")" popover-placement="bottom" popover-trigger="'mouseenter'"
                            ng-if="vm.model.dateOfIssue">
                            {{ vm.model.dateOfIssue | dateFormat }}
                        </li>
                        <li ng-if="!vm.model.registrationDocumentType.description && !vm.model.registrationDocumentNumber && !vm.model.dateOfIssue">-</li>
                    </ul>
                </div>
                <div class="biodata-line">
                    <i class="material-icons">cake</i>
                    <ul class="otherText list-inline list-inline-dot">
                        <li uib-popover="@L("DateOfBirth")" popover-placement="bottom" popover-trigger="'mouseenter'"
                            ng-if="vm.model.dateOfBirth">
                            {{ vm.model.dateOfBirth | dateFormat }}
                        </li>
                        <li uib-popover="@L("Age")" popover-placement="bottom" popover-trigger="'mouseenter'"
                            ng-if="vm.model.dateOfBirth">
                            {{ vm.model.dateOfBirth | ageFilter }}
                        </li>
                        <li uib-popover="@L("ChineseHoroscope")" popover-placement="bottom" popover-trigger="'mouseenter'"
                            ng-if="vm.model.chineseHoroscope.description">
                            {{ vm.model.chineseHoroscope.description }}
                        </li>
                        <li ng-if="!vm.model.dateOfBirth && !vm.model.dateOfBirth && !vm.model.chineseHoroscope.description">-</li>
                    </ul>
                </div>
                <div class="biodata-line">
                    <span class="ps-icon-people grey"></span>
                    <ul class="otherText list-inline list-inline-dot">
                        <li uib-popover="@L("Race")" popover-placement="bottom" popover-trigger="'mouseenter'"
                            ng-if="vm.model.race.description">
                            {{ vm.model.race.description }}
                        </li>
                        <li uib-popover="@L("Nationality")" popover-placement="bottom" popover-trigger="'mouseenter'"
                            ng-if="vm.model.nationality.description">
                            {{ vm.model.nationality.description }}
                        </li>
                        <li uib-popover="@L("Citizenship")" popover-placement="bottom" popover-trigger="'mouseenter'"
                            ng-if="vm.model.citizenship.description">
                            {{ vm.model.citizenship.description }}
                        </li>
                        <li ng-if="!vm.model.race.description && !vm.model.nationality.description && !vm.model.citizenship.description">-</li>
                    </ul>
                </div>
                <div class="biodata-line">
                    <span class="ps-icon-religion grey"></span>
                    <ul class="otherText list-inline list-inline-dot">
                        <li uib-popover="@L("Religion")" popover-placement="bottom" popover-trigger="'mouseenter'"
                            ng-if="vm.model.religion.description">
                            {{ vm.model.religion.description }}
                        </li>
                        <li uib-popover="@L("PlaceOfWorship")" popover-placement="bottom" popover-trigger="'mouseenter'"
                            ng-if="vm.model.placeOfWorship">
                            {{ vm.model.placeOfWorship }}
                        </li>
                        <li ng-if="!vm.model.religion.description && !vm.model.placeOfWorship">-</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>