@using Pulsesync.IngoTPCC.Authorization
@using Pulsesync.IngoTPCC.Application.Assessment.GeriatricAssessments.Dto
@model GeriatricAssessmentDto
<div id="c" class="row-class">

    <!-- Person Header & Action buttons -->
    <ps-uib-tabset tab-template="false" is-pinned="vm.personHeaderisPinned" style="margin-top: -10px;">
        <ps-uib-tab-person-header>
            <person-header person-id="vm.model.actualAssessment.personId" referral-id="vm.model.actualAssessment.referralId"></person-header>
        </ps-uib-tab-person-header>

        <ps-uib-tab-button>
            <div class="col-md-12 col-sm-12" style="padding: 10px 0px 0px 0px;">
                <div class="form-actions pull-right txt-align-cntr">

                    <a class="linkButton btn-small no-right-left-padding" ng-click="vm.save()" ng-if="vm.permissions.edit && !vm.model.isConfirmed && !vm.model.isCancelled" ng-class="{'disabled-link': vm.isSavingDisabled }">
                        <i class="material-icons  font-18-main v-top">save</i> @L("Save")
                    </a>
                    <a class="linkButton btn-small no-right-left-padding" ng-click="vm.save(true)" ng-if="vm.permissions.edit && !vm.model.isConfirmed && !vm.model.isCancelled">
                        <i class="ps-icon-1x ps-icon-savenclose grey"></i> @L("SaveAndClose")
                    </a>
                    <a class="linkButton btn-small no-right-left-padding" ng-click="vm.clone()" ng-if="vm.permissions.copyExisting && !vm.isNew && !vm.model.isCancelled">
                        <i class="material-icons  font-18-main v-top">content_copy</i> @L("Copy")
                    </a>
                    <a class="linkButton btn-small no-right-left-padding" ng-click="vm.confirm()" ng-if="vm.permissions.confirm && !vm.isNew && !vm.model.isConfirmed && !vm.model.isCancelled">
                        <i class="material-icons  font-18-main v-top">lock</i> @L("Confirm")
                    </a>
                    <a class="linkButton btn-small no-right-left-padding" ng-click="vm.cancel()" ng-if="vm.permissions.cancel && !vm.isNew && !vm.model.isCancelled">
                        <i class="material-icons  font-18-main v-top">block</i> @L("Cancel")
                    </a>
                    <a class="linkButton btn-small no-right-left-padding" ng-click="vm.delete()" ng-if="!vm.isNew && vm.permissions.delete && !vm.model.isConfirmed && !vm.model.isCancelled">
                        <i class="material-icons  font-18-main v-top">delete_forever</i> @L("Delete")
                    </a>
                    <a class="linkButton btn-small no-right-left-padding" ng-click="vm.close()" ng-if="!vm.loading">
                        <i class="material-icons  font-18-main v-top">close</i> @L("Close")
                    </a>
                </div>
            </div>
        </ps-uib-tab-button>
    </ps-uib-tabset>

    <div class="tab-content">
        <div id="AssessmentDetails" class="tab-pane fade in active">
            <div class="col-md-12 col-sm-12">
                <form action="" angular-validator="" angular-validator-submit="vm.save($event)" dirty-check="" method="post" name="vm.form" novalidate="" class="ng-valid-maxdate ng-valid-angular-validator ng-valid-required ng-dirty ng-valid-parse ng-valid ng-valid-ui-select-required">
                    <!-- Geriatric Assessment -->
                    @using (var f = Html.BeginForm(htmlAttributes: new HtmlAttributes()))
                    {
                        using (var s = f.BeginSection())
                        {
                            <!-- General Session -->
                            <div class="row">
                                <div class="col-md-10 col-sm-12 col-md-offset-1">
                                    <div class="portlet light">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <span class="caption-subject">General</span>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="row  padding-bottom-10">
                                                <div class="col-md-5">
                                                    <person-ui-select person-id="vm.model.actualAssessment.personId" uiselect-disabled="vm.personDisabled" on-select="vm.generateChart(personId)"></person-ui-select>
                                                    <div ng-if="!vm.model.disabled">
                                                        @s.FieldFor(m => m.AssessmentDate).DatePickerOptions(new { data_date_end_date = "0d" }).Attrs(new { ng_model = "vm.model.actualAssessment.assessmentDate", ng_disabled = "vm.model.disabled", maxdate = "0d" })
                                                    </div>
                                                    <div class="form-group form-md-line-input margin-bottom-20" ng-if="vm.model.disabled">
                                                        <div class="form-control remove-border auto-height" style="white-space: pre-wrap;">{{vm.model.actualAssessment.assessmentDate | dateFormat}}</div>
                                                        <label class="control-label">@L("AssessmentDate")</label>
                                                    </div>
                                                    <div class="form-group form-md-line-input margin-bottom-20" ng-if="vm.model.disabled && vm.model.actualAssessment.isCancelled">
                                                        <div class="form-control remove-border auto-height" style="white-space: pre-wrap;">{{vm.model.actualAssessment.cancellationReason}}</div>
                                                        <label class="control-label">@L("CancellationReasonLbl")</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 center-allign">
                                                    <ui-knob value="vm.model.totalScore" options="vm.option"></ui-knob>
                                                    <div class="form-group" ng-if="vm.model.isCategoryRequired">
                                                        {{vm.model.category}}
                                                    </div>
                                                </div>
                                                <div class="col-md-5" ng-if="vm.assessmentChartData.length != 0">
                                                    <ps-line-graph config="vm.assessmentConfig" type="singleLine"></ps-line-graph>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Question Session -->
                            <div class="row" busy-if="vm.loading" ng-repeat="section in vm.assessment.assessmentSections | orderBy:'displayOrder'">
                                <!-- Balance Session -->
                                <div class="col-md-10 col-sm-12 col-md-offset-1">
                                    <div class="portlet light">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <span class="caption-subject">{{::section.title}}</span>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="row  padding-bottom-10" ng-repeat="question in section.questions | orderBy:'displayOrder'">                                                
                                                <div class="col-md-12">
                                                    <!-- Rendering Questions And Mandatory Field Checking-->
                                                    <p class="margin-bottom-10">
                                                        <span class="question-title" ng-if="question.questionType == vm.assessmentQuestionType.SingleSelectListing">{{::question.title}}</span>
                                                        <span class="businessRequired" ng-if="question.isRequired && vm.model.checkValue[question.id] && question.questionType != 2"> * Please select an option.</span>
                                                    </p>
                                                    <!--This is SingleSelect Question Type.-->
                                                    <span ng-repeat="option in question.options | orderBy:'displayOrder'" ng-if="question.questionType == vm.assessmentQuestionType.SingleSelectListing">
                                                        <input class="option-radio" ng-click="vm.selectOption(option.id,question.id, option.description, question.questionType, section.title)" ng-if="question.mutuallyExclusiveQuestionId == null" ng-disabled="vm.model.disabled" ng-model="vm.model.selectedValue[question.id]" type="radio" id="{{::option.id}}" name="{{::question.title}}" value="{{::vm.bindToJson(option.id,option.score, option.questionId, option.description, null,question.questionType) }}" />
                                                        <label class="option-label" ng-class="{'option-label-action' : !vm.model.disabled}" for="{{::option.id}}">{{::option.description}}</label>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="row padding-bottom-10">
                                                <div class="col-md-6" ng-if="section.title == 'Balance Tests (Subject seated on hand, armless chair)'">
                                                    @s.FieldFor(m => m.BalanceTotalScore).Attrs(new { ng_model = "vm.model.actualAssessment.balanceTotalScore", ng_disabled = "true" })
                                                </div>
                                                <div class="col-md-6" ng-if="section.title == 'Gait Tests'">
                                                    @s.FieldFor(m => m.GiatTotalScore).Attrs(new { ng_model = "vm.model.actualAssessment.giatTotalScore", ng_disabled = "true" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </form>
            </div>
        </div>
    </div>
</div>