@using Pulsesync.IngoTPCC.Authorization

<div class="row" busy-if="vm.loading">

    <div id="main-header-with-tab header-sticky-index" class="row main-header-with-tab" hide-on-scroll sticky offset="75" pinned="{{vm.personHeaderisPinned}}" style="z-index:1000 !important;">
        <div class="row bg-white header-sticky-index" @*id="person-header" *@ @*sticky offset="75" *@ @*media-query="min-width: 992px" *@ style="height: 86px; padding: 6px 0px; border-bottom:0.2px solid #d8d8d8;box-shadow: 0 0 0 rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.18)">
            <person-header person-model="vm.model.person" person-id="vm.model.personId" mode="vm.mode"></person-header>
            <div class="col-xs-1 col-sm-1 text-right pull-right" style="margin-top:-15px">
                <span ng-if="!vm.personHeaderisPinned" class="mt-comment-date otherText" ng-click="vm.personHeaderisPinned = true">
                    <i class="icon-pin font-default"></i>
                </span>
                <span ng-if="vm.personHeaderisPinned" class="mt-comment-date otherText" ng-click="vm.personHeaderisPinned = false">
                    <i class="icon-pin fontStealGreen"></i>
                </span>
            </div>
        </div>
        @* --- Navigation Tabs --- *@
        <div class="row" id="person-tabs" @*set-class-when-at-top="fix-to-top" *@ @*sticky offset="160" *@ @*media-query="min-width: 992px" *@ style="top:0px;background-color:#f9f9f9;margin-bottom: 10px; box-shadow: 0 0 0 rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.18)">
            <div class="col-md-12 col-sm-12">
                <div class="col-md-1 col-sm-1 tabbable-line" style="text-align:left">
                    <div class="dropdown">
                        <span class="dropdown-toggle" id="navigation-menu" type="button" data-toggle="dropdown" style="cursor:pointer;margin-top: 15px; display: inline-block;">
                            @*<i class="fa fa-th-list" aria-hidden="true" style="padding-top:18px; font-size:20px;color:#acacac;"></i>*@
                            <i class="ps-icon-section-menu" style="font-size:20px;color:#acacac;"></i>
                        </span>
                        <div class="dropdown-menu" aria-labelledby="navigation-menu" role="menu" style="width: 200px; background-color:#f9f9f9">
                            <li role="presentation" ng-repeat="navigate in vm.navigationalMenu" ng-if="navigate.permission">
                                <a role="menuitem" tabindex="-1" class="bold" href="#" ng-click="vm.gotoAnchor(navigate.key)">{{navigate.displayName}}</a>
                            </li>
                        </div>
                    </div>
                </div>
                <div class="col-md-11 col-sm-11 tabbable-line" style="text-align:left">
                    <div class="form-actions pull-right">
                        <a class="linkButton btn-small inline-flex-center" master-save ng-click="vm.saveVisitLog()" ng-if="vm.mode=='new'" ng-class="{'disabled-link': vm.isSavingDisabled }">
                            <i class="material-icons font-18-main v-top">save</i> @L("Save")
                        </a>
                        <a class="linkButton btn-small inline-flex-center" master-save ng-click="vm.saveVisitLog(true)" ng-if="vm.mode=='new'" ng-class="{'disabled-link': vm.isSavingDisabled }">
                            <i class="ps-icon-1x ps-icon-savenclose grey"></i> @L("SaveAndClose")
                        </a>
                        <a class="linkButton btn-small inline-flex-center" ng-click="vm.confirmVisitLog()" ng-if="vm.mode!='new'&&(vm.permissions.confirm)&&!vm.model.isConfirmed&&!vm.model.isCancelled">
                            <i class="material-icons  font-18-main v-top">lock</i> @L("Confirm")
                        </a>
                        <a class="linkButton btn-small inline-flex-center" ng-click="vm.cancelVisitLog()" ng-if="vm.mode!='new'&&(vm.permissions.cancel)&&!vm.model.isCancelled">
                            <i class="material-icons  font-18-main v-top">block</i> @L("Cancel")
                        </a>
                        <a class="linkButton btn-small inline-flex-center" ng-click="vm.deleteVisitLog()" ng-if="vm.mode!='new' && vm.permissions.delete && !vm.model.isCancelled && !vm.model.isConfirmed">
                            <i class="material-icons font-18-main v-top">delete_forever</i> @L("Delete")
                        </a>
                        <a class="linkButton btn-small inline-flex-center" ng-click="vm.cancel()">
                            <i class="material-icons  font-18-main v-top">close</i> @L("Close")
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="tab-content">
    <div id="PersonDetails" class="col-md-12 col-sm-12 col-xs-12 no-padding tab-pane fade in active">
        <div class="col-md-6 col-sm-12">
            <div busy-if="vm.loading">
                <visitlog-detail-general-card id="General" mode="vm.mode" model="vm.model" permissions="vm.permissions" on-update="vm.updateVisitLog(event)" on-reload="vm.reloadVisitLog()"></visitlog-detail-general-card>
            </div>
            @*<div busy-if="vm.loading">
                    <visitlog-detail-renderedservices-card id="RenderedServices" mode="vm.mode" model="vm.model" permissions="vm.permissions" on-update="vm.updateVisitLog(event)" ng-if="vm.mode!='new'"></visitlog-detail-renderedservices-card>
                </div>*@
            <div busy-if="vm.loading">
                <visitlog-detail-signature-card id="Signature" mode="vm.mode" model="vm.model" permissions="vm.permissions" on-update="vm.updateVisitLog(event)" ng-if="vm.mode!='new'"></visitlog-detail-signature-card>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            @if (IsGranted(AppPermissions.Pages_Tenant_ProgressNotes))
            {
                <div id="progressnote" busy-if="vm.loading">
                    <progressnote-card ng-if="vm.mode!='new'" mode="vm.mode" person-id="vm.model.personId" visit-log-id="vm.model.id" show-details="$ctrl.showDetails" load-progress-note="$ctrl.loadProgressNote"></progressnote-card>

                    <div id="ProgressNote" class="portlet light div-disabled" ng-if="vm.mode =='new'">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject">
                                    @L("ProgressNote")
                                </span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-md-12">
                                    Progress Note can be added once the visit log record is saved.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div id="vitalsign" busy-if="vm.loading">
                {{vm.isCanceledConfirmed}}
                @*<vitalsign-summary id="VitalSigns" maintitle="'@L("VitalSign")'" ng-if="vm.mode!='new'" mode="vm.mode" template="'visitlog'" person-id="vm.model.person.id" template-id="vm.model.id" is-patient="vm.model.person.isPatient"></vitalsign-summary>*@
                @if (IsGranted(AppPermissions.Pages_Tenant_VitalSign_View))
                {
                    <vitalsign-summary id="VitalSigns" 
                                       maintitle="'@L("VitalSign")'" 
                                       ng-if="vm.mode!='new'" mode="vm.mode" 
                                       template="'visitlog'" 
                                       create-template="'visitlog'" 
                                       template-datetime-in="vm.model.visitDateTimeIn" 
                                       template-datetime-out="vm.model.visitDateTimeOut" 
                                       person-id="vm.model.person.id" 
                                       template-id="vm.model.id" 
                                       dissable-creation="vm.model.isCancelled || vm.model.isConfirmed"
                                       is-patient="vm.model.person.isPatient"></vitalsign-summary>
                }
                <div id="VitalSign" class="portlet light div-disabled" ng-if="vm.mode =='new'">
                    <div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject">
                                @L("VitalSign")
                            </span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-12">
                                Vital Signs can be added once the visit log record is saved.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>