@model CreateOrUpdatePersonInput
@using Pulsesync.IngoTPCC.Application.Person.Dto;

<style type="text/css">
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
<div id="ContactInformation" class="portlet light" ng-controller="tenant.views.person.personView.contactInfo as contactInfoCtrl">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject">@L("ContactInformation")</span>
        </div>
        <div class="actions dropdown inputs">
            <a class="icon-wrapper" ng-if="contactInfoCtrl.mode=='view' && !vm.isNew && vm.permissions.edit" ng-click="contactInfoCtrl.edit()">
                <i class="material-icons custom-icon">edit</i>
            </a>
        </div>
        <div class="tools">
            <a class="remove" ng-if="contactInfoCtrl.mode=='edit' && !vm.isNew" ng-click="contactInfoCtrl.close()"></a>
        </div>
    </div>
    <div class="portlet-body">
        <div ng-switch="contactInfoCtrl.mode">
            <div ng-switch-when="view">
                <div class="row">
                    <div class="contact-details">
                        <div class="icon col-md-12">
                            <i class="material-icons" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-html="true" data-content="<div class='otherText'>Home Phone</div>" ng-popover>phone</i>
                            <span class="otherText" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-html="true" data-content="<div class='otherText'>Home Phone</div>" ng-popover>{{vm.person.homePhone ? vm.person.homePhone : "-"}}</span>
                        </div>
                        <div class="icon col-md-12">
                            <i class="material-icons" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-html="true" data-content="<div class='otherText'>Mobile Phone</div>" ng-popover>phone_iphone</i>
                            <span class="otherText" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-html="true" data-content="<div class='otherText'>Mobile Phone</div>" ng-popover> {{vm.person.mobilePhone ? vm.person.mobilePhone : "-"}}</span>
                        </div>
                        <div class="icon col-md-12">
                            <span class="ps-icon-office grey" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-html="true" data-content="<div class='otherText'>Office Phone</div>" ng-popover></span>
                            <span class="otherText" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-html="true" data-content="<div class='otherText'>Office Phone</div>" ng-popover>{{vm.person.officePhone ? vm.person.officePhone : "-"}}</span>
                        </div>
                        <div class="icon col-md-12">
                            <i class="material-icons" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-html="true" data-content="<div class='otherText'>Email</div>" ng-popover>email</i>
                            <span class="otherText" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-html="true" data-content="<div class='otherText'>Email</div>" ng-popover>{{vm.person.email ? vm.person.email : "-"}}</span>
                        </div>
                    </div>

                    <div class="address-details col-md-12">
                        <p class="bold fontStealGreen margin-bottom-10">@L("NRICAddress")</p>
                        <address class="margin-bottom-0" ng-bind-html="vm.person.nricAddress.fullAddress ? vm.person.nricAddress.fullAddress : '-'"></address>
                        {{ vm.person.nricAddress.country.description }} {{ vm.person.nricAddress.postalCode }} <br />
                        {{ vm.person.nricAddress.ownership.description }} {{ vm.person.nricAddress.typeOfAccommodation.description }}
                    </div>
                    <div class="address-details col-md-12">
                        <p class="bold fontStealGreen margin-bottom-10">@L("ResidentialAddress")</p>
                        <div class="md-checkbox" ng-if="vm.person.residentialAddress.isSameAsNricAddress">
                            <input type="checkbox" ng-model="vm.person.residentialAddress.isSameAsNricAddress" />
                            <label for="residentialSameAsNric">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                @L("SameAsNRICAddress")
                            </label>
                        </div>
                        <div ng-if="!vm.person.residentialAddress.isSameAsNricAddress">
                            <address class="margin-bottom-0" ng-bind-html="vm.person.residentialAddress.fullAddress ? vm.person.residentialAddress.fullAddress : '-'"></address>
                            {{ vm.person.residentialAddress.country.description }} {{ vm.person.residentialAddress.postalCode }} <br />
                            {{ vm.person.residentialAddress.ownership.description }} {{ vm.person.residentialAddress.typeOfAccommodation.description }}
                        </div>
                    </div>
                    <div class="address-details col-md-12">
                        <p class="bold fontStealGreen margin-bottom-10">@L("BillingAddress")</p>
                        <div class="md-checkbox" ng-if="vm.person.billingAddress.isSameAsNricAddress">
                            <input type="checkbox" ng-model="vm.person.billingAddress.isSameAsNricAddress" />
                            <label for="billingSameAsNric">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                @L("SameAsNRICAddress")
                            </label>
                        </div>

                        <div class="form-group form-md-line-input" style="margin-bottom: 0 !important;" ng-if="vm.person.billingAddress.addressTo">
                            <div class="form-control remove-border auto-height bold" style="white-space: pre-wrap;">{{vm.person.billingAddress.addressTo}}</div>
                            <label class="control-label view-label">@L("AddressTo")</label>
                        </div>

                        <div ng-if="!vm.person.billingAddress.isSameAsNricAddress">
                            <address class="margin-bottom-0" ng-bind-html="vm.person.billingAddress.fullAddress ? vm.person.billingAddress.fullAddress : '-'"></address>
                            {{ vm.person.billingAddress.country.description }} {{ vm.person.billingAddress.postalCode }} <br />
                            {{ vm.person.billingAddress.ownership.description }} {{ vm.person.billingAddress.typeOfAccommodation.description }}
                        </div>
                    </div>
                </div>
            </div>
            @* TODO: add create mode *@
            <div ng-switch-when="edit">
                <div class="row">
                    <div class="col-md-12">
                        @using (var f = Html.BeginForm(htmlAttributes: new HtmlAttributes(name => "contactInfoCtrl.contactInfoForm", ng_validate => "contactInfoCtrl.validationOptions")))
                        {
                            using (var s = f.BeginSection())
                            {
                                @s.FieldFor(m => m.HomePhone).Attrs(new { ng_model = "contactInfoCtrl.person.homePhone" })
                                @s.FieldFor(m => m.MobilePhone).Attrs(new { ng_model = "contactInfoCtrl.person.mobilePhone" })
                                @s.FieldFor(m => m.OfficePhone).Attrs(new { ng_model = "contactInfoCtrl.person.officePhone" })
                                @s.FieldFor(m => m.Email).Attrs(new { ng_model = "contactInfoCtrl.person.email" })
                            }
                            <div>
                                <p class="bold fontStealGreen">@L("NRICAddress")</p>
                                @using (var s = f.BeginSection())
                                {
                                    @(s.FieldFor(m => m.NricAddress.PostalCode)
                                        .Attrs(new
                                        {
                                            ng_model = "contactInfoCtrl.person.nricAddress.postalCode",
                                            ng_model_options = "{ updateOn: 'blur'}",
                                            ng_change = "contactInfoCtrl.sameAsNricAddressChange(3)",
                                            ng_keyup = "contactInfoCtrl.getAddress($event,'nric',contactInfoCtrl.person.nricAddress.countryId)",
                                            ng_paste = "contactInfoCtrl.getAddress($event,'nric',contactInfoCtrl.person.nricAddress.countryId)"
                                        }))
                                    @s.FieldFor(m => m.NricAddress.BlockNo).Attrs(new { ng_model = "contactInfoCtrl.person.nricAddress.blockNo", ng_change = "contactInfoCtrl.sameAsNricAddressChange(3)", ng_model_options = "{updateOn: 'blur'}" })
                                    @s.FieldFor(m => m.NricAddress.StreetName).Attrs(new { ng_model = "contactInfoCtrl.person.nricAddress.streetName", ng_change = "contactInfoCtrl.sameAsNricAddressChange(3)", ng_model_options = "{updateOn: 'blur'}" })
                                    @s.FieldFor(m => m.NricAddress.BulidingName).Attrs(new { ng_model = "contactInfoCtrl.person.nricAddress.bulidingName", ng_change = "contactInfoCtrl.sameAsNricAddressChange(3)", ng_model_options = "{updateOn: 'blur'}" })
                                    @s.FieldFor(m => m.NricAddress.UnitNo).Attrs(new { ng_model = "contactInfoCtrl.person.nricAddress.unitNo", ng_change = "contactInfoCtrl.sameAsNricAddressChange(3)", ng_model_options = "{updateOn: 'blur'}" })

                                    @s.FieldFor(m => m.NricAddress.CountryId).AsDropDown().Attrs(new { ng_model = "contactInfoCtrl.person.nricAddress.countryId", ng_change = "contactInfoCtrl.sameAsNricAddressChange(3)", name = "NricTypeOfAccomdation" })
                                    @s.FieldFor(m => m.NricAddress.OwnershipId).AsDropDown().Attrs(new { ng_model = "contactInfoCtrl.person.nricAddress.ownershipId", ng_change = "contactInfoCtrl.sameAsNricAddressChange(3)", name = "NricTypeOfAccomdation" })
                                    @s.FieldFor(m => m.NricAddress.TypeOfAccommodationId).AsDropDown().Attrs(new { ng_model = "contactInfoCtrl.person.nricAddress.typeOfAccommodationId", ng_change = "contactInfoCtrl.sameAsNricAddressChange(3)", name = "NricTypeOfAccomdation" })
                                }
                            </div>
                            <div>
                                <p class="bold fontStealGreen">@L("ResidentialAddress")</p>

                                <div class="form-group form-md-checkboxes">
                                    <div class="md-checkbox-list">
                                        <div class="md-checkbox">
                                            <input id="residentialSameAsNric" type="checkbox" class="form-control"
                                                   ng-model="contactInfoCtrl.person.residentialAddress.isSameAsNricAddress"
                                                   ng-change="contactInfoCtrl.sameAsNricAddressChange(1, true)" />
                                            <label for="residentialSameAsNric">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                @L("SameAsNRICAddress")
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                @using (var s = f.BeginSection())
                                {
                                    @(s.FieldFor(m => m.ResidentialAddress.PostalCode)
                                        .Attrs(new
                                        {
                                            ng_model = "contactInfoCtrl.person.residentialAddress.postalCode",
                                            ng_keyup = "contactInfoCtrl.getAddress($event,'recidential',contactInfoCtrl.person.residentialAddress.countryId)",
                                            ng_disabled = "contactInfoCtrl.person.residentialAddress.isSameAsNricAddress",
                                            ng_paste = "contactInfoCtrl.getAddress($event,'recidential',contactInfoCtrl.person.residentialAddress.countryId)"
                                        }))
                                    @s.FieldFor(m => m.ResidentialAddress.BlockNo).Attrs(new { ng_model = "contactInfoCtrl.person.residentialAddress.blockNo", ng_disabled = "contactInfoCtrl.person.residentialAddress.isSameAsNricAddress" })
                                    @s.FieldFor(m => m.ResidentialAddress.StreetName).Attrs(new { ng_model = "contactInfoCtrl.person.residentialAddress.streetName", ng_disabled = "contactInfoCtrl.person.residentialAddress.isSameAsNricAddress" })
                                    @s.FieldFor(m => m.ResidentialAddress.BulidingName).Attrs(new { ng_model = "contactInfoCtrl.person.residentialAddress.bulidingName", ng_disabled = "contactInfoCtrl.person.residentialAddress.isSameAsNricAddress" })
                                    @s.FieldFor(m => m.ResidentialAddress.UnitNo).Attrs(new { ng_model = "contactInfoCtrl.person.residentialAddress.unitNo", ng_disabled = "contactInfoCtrl.person.residentialAddress.isSameAsNricAddress" })

                                    @s.FieldFor(m => m.ResidentialAddress.CountryId).AsDropDown().Attrs(new { ng_model = "contactInfoCtrl.person.residentialAddress.countryId", ng_disabled = "contactInfoCtrl.person.residentialAddress.isSameAsNricAddress", name = "ResidentCountry" })
                                    @s.FieldFor(m => m.ResidentialAddress.OwnershipId).AsDropDown().Attrs(new { ng_model = "contactInfoCtrl.person.residentialAddress.ownershipId", ng_disabled = "contactInfoCtrl.person.residentialAddress.isSameAsNricAddress", name = "ResidentOwnership" })
                                    @s.FieldFor(m => m.ResidentialAddress.TypeOfAccommodationId).AsDropDown().Attrs(new { ng_model = "contactInfoCtrl.person.residentialAddress.typeOfAccommodationId", ng_disabled = "contactInfoCtrl.person.residentialAddress.isSameAsNricAddress", name = "ResidentTypeOfAccomdation" })
                                }
                            </div>
                            <div>
                                <p class="bold fontStealGreen">@L("BillingAddress")</p>
                                <div class="form-group form-md-checkboxes">
                                    <div class="md-checkbox-list">
                                        <div class="md-checkbox">
                                            <input id="billingSameAsNric" type="checkbox" class="form-control"
                                                   ng-model="contactInfoCtrl.person.billingAddress.isSameAsNricAddress"
                                                   ng-change="contactInfoCtrl.sameAsNricAddressChange(2, true)" />
                                            <label for="billingSameAsNric">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                @L("SameAsNRICAddress")
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                @using (var s = f.BeginSection())
                                {
                                    <div ng-if="!vm.isFamilyMembers">
                                        @s.FieldFor(m => m.BillingAddress.AddressTo).Attrs(new { ng_model = "contactInfoCtrl.person.billingAddress.addressTo" })
                                    </div>
                                    @(s.FieldFor(m => m.BillingAddress.PostalCode)
                                        .Attrs(new
                                        {
                                            ng_model = "contactInfoCtrl.person.billingAddress.postalCode",
                                            ng_keyup = "contactInfoCtrl.getAddress($event,'billing',contactInfoCtrl.person.billingAddress.countryId)",
                                            ng_disabled = "contactInfoCtrl.person.billingAddress.isSameAsNricAddress",
                                            ng_paste = "contactInfoCtrl.getAddress($event,'billing',contactInfoCtrl.person.billingAddress.countryId)"
                                        }))
                                    @s.FieldFor(m => m.BillingAddress.BlockNo).Attrs(new { ng_model = "contactInfoCtrl.person.billingAddress.blockNo", ng_disabled = "contactInfoCtrl.person.billingAddress.isSameAsNricAddress" })
                                    @s.FieldFor(m => m.BillingAddress.StreetName).Attrs(new { ng_model = "contactInfoCtrl.person.billingAddress.streetName", ng_disabled = "contactInfoCtrl.person.billingAddress.isSameAsNricAddress" })
                                    @s.FieldFor(m => m.BillingAddress.BulidingName).Attrs(new { ng_model = "contactInfoCtrl.person.billingAddress.bulidingName", ng_disabled = "contactInfoCtrl.person.billingAddress.isSameAsNricAddress" })
                                    @s.FieldFor(m => m.BillingAddress.UnitNo).Attrs(new { ng_model = "contactInfoCtrl.person.billingAddress.unitNo", ng_disabled = "contactInfoCtrl.person.billingAddress.isSameAsNricAddress" })
                                    @s.FieldFor(m => m.BillingAddress.CountryId).AsDropDown().Attrs(new { ng_model = "contactInfoCtrl.person.billingAddress.countryId", ng_disabled = "contactInfoCtrl.person.billingAddress.isSameAsNricAddress", name = "BillingCountry" })
                                }
                            </div>

                            <div class="form-actions pull-right" ng-if="!vm.isNew">
                                <a class="linkButton btn-small" card-button-busy="vm.isSaving" ng-click="contactInfoCtrl.save()">
                                    <i class="material-icons  font-18-main v-top">save</i> @("Save")
                                </a>
                                <a class="linkButton btn-small" card-button-busy="vm.isSaving" ng-click="contactInfoCtrl.cancel()">
                                    <i class="material-icons  font-18-main v-top">close</i> @("Cancel")
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
