@model CancelTransportRequisitionInput

@using Pulsesync.IngoTPCC.Application.TransportRequisitions.Dto;

<style>
    .padding-top-0 {
        padding-top: 0px !important;
    }

    .bs-callout {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
</style>

<div class="portlet light" id="cancelTransportRequisitionModal">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject"> @L("Cancel") @L("TransportRequisition")</span>
        </div>
        <div class="tools pull-right">
            <a class="remove" ng-click="$ctrl.cancel()"></a>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="form-body">
            <div class="row">
                <div class="bs-callout bs-callout-danger ">
                    <h4 style="font-weight: 600;"><i class="icon fa fa-warning"></i>&nbsp; Alert!</h4>
                    Please fill in the following required field to proceed Cancellation for @L("TransportRequisition")
                </div>
                <div class="col-md-12">
                    @{
                        var attrs = new Dictionary<string, object> {
                            { "name", "$ctrl.cancelTransportRequisitionForm" },
                            { "novalidate", "" },
                            { "angular-validator", ""},
                            { "angular-validator-submit", "$ctrl.save()"}
                        };
                    }
                    @using (var f = Html.BeginForm(htmlAttributes: new HtmlAttributes(attrs).AddClass("scrollable-form-body")))
                    {
                        using (var s = f.BeginSection())
                        {
                            @s.FieldFor(m => m.CancellationReason).Attrs(new { ng_model = "$ctrl.workingModel.cancellationReason" })
                        }

                        <div class="form-actions noborder right">
                            <button type="submit" busy-if="$ctrl.saving" class="btn btn-circle light-grey-pcc btn-outline btn-small" ng-if="$ctrl.permissions.cancel" ng-disabled="vm.cancelTransportRequisitionForm.$invalid"><i class="material-icons ps-btn-material">check</i>@L("Ok")</button>
                            <button type="button" busy-if="$ctrl.saving" class="btn btn-circle light-grey-pcc btn-outline btn-small" ng-click="$ctrl.cancel()"><i class="material-icons ps-btn-material">clear</i>@L("Cancel")</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
