@using Abp.Timing
@using Pulsesync.IngoTPCC.Authorization
<div class="row" id="referral" ng-controller="tenant.views.referral.referralGenerralView as social">
    <div class="col-md-12 col-sm-12 col-xs-12 no-padding main-tab-contents">
        @*<div class="col-md-2 col-sm-2 col-xs-2 padding-left-0">
                <div class="sidebar-nav-fixed affix sidebar-nav-fixed-annimate" sidebar-nav-fixed-annimate sticky offset="{{vm.isNew ? '75' : '167'}}" >
                    <p class="bodyContext bold side-menu-text" ng-click="vm.gotoAnchor('BioData')">@L("BioData")</p>
                    <p class="bodyContext bold side-menu-text" ng-click="vm.gotoAnchor('ContactInformation')">@L("ContactInformation")</p>
                    <p class="bodyContext bold side-menu-text" ng-click="vm.gotoAnchor('OtherInformation')">@L("OtherInformation")</p>
                    <p class="bodyContext bold side-menu-text" ng-click="vm.gotoAnchor('TrigeInfo')">@L("TrigeInfo")</p>
                    <p class="bodyContext bold side-menu-text" ng-click="vm.gotoAnchor('General')">@L("General")</p>
                    <p class="bodyContext bold side-menu-text" ng-click="vm.gotoAnchor('ReferralServiceType')">@L("ReferralServiceType")</p>
                    <p class="bodyContext bold side-menu-text" ng-click="vm.gotoAnchor('ReferralInformation')">@L("ReferralInformation")</p>
                    <br />
                    <hr class="no-margin no-padding" style="border-color: #c2cad8;" />
                    <p class="font-13-main margin-5-0" ng-if="!vm.isCreateMode">
                        @Html.Raw(L("CreationInfo", "vm.referral.creatorUser.fullName", "vm.referral.creationTime | date:'d-MMM-yyyy h:mm a'"))
                    </p>
                    <p class="font-13-main margin-5-0" ng-if="!vm.isCreateMode">
                        @Html.Raw(L("ModificationInfo", "vm.referral.lastModifierUser.fullName", "vm.referral.lastModificationTime | date:'d-MMM-yyyy h:mm a'"))
                    </p>
                    <p class="font-13-main margin-5-0" ng-if="!vm.isCreateMode">
                        Status <span class="bold">{{vm.referral.status  == 0 ? 'Open' : 'Close'}}</span>
                    </p>
                    <p class="font-13-main margin-5-0" ng-if="!vm.isCreateMode">
                        Pending Approval <span class="font-13-main bold">{{vm.referral.pendingApproval ? 'Yes' : 'No'}}</span>
                    </p>
                    <p class="font-13-main margin-5-0" ng-if="!vm.isCreateMode">
                        Pending Admission <span class="font-13-main bold">{{vm.referral.pendingAdmission ? 'Yes' : 'No'}}</span>
                    </p>
                </div>
            </div>*@
        <div class="col-md-6 col-sm-12 col-xs-12">
            @Html.Partial("~/App/tenant/views/referral/referralGeneral/bioDataView.cshtml")
            <div busy-if="vm.loading">
                @Html.Partial("~/App/tenant/views/person/contactInfoView.cshtml")
            </div>
            <div busy-if="vm.loading">
                @Html.Partial("~/App/tenant/views/person/otherInformationView.cshtml")
            </div>
            <div busy-if="vm.loading">
                @Html.Partial("~/App/tenant/views/referral/referralGeneral/triageInfoView.cshtml")
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 pull-right">
            @Html.Partial("~/App/tenant/views/referral/referralGeneral/generalView.cshtml")
            @if (IsGranted(AppPermissions.Pages_Tenant_ReferralServiceType))
            {
                @Html.Partial("~/App/tenant/views/referral/referralGeneral/referralServiceType.cshtml")
            }

            <div busy-if="vm.loading">
                @Html.Partial("~/App/tenant/views/referral/referralGeneral/referralInfoView.cshtml")
            </div>
        </div>
    </div>
</div>