@model CreateOrUpdateVisitTypeInput

@using Pulsesync.IngoTPCC.MasterLookup.VisitTypes.Dto;

<div class="portlet light" data-drag="true" id="masterDataTypeItemModal">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject">@L("VisitTypeMaster")</span>
        </div>
        <div class="tools pull-right">
            <a class="remove" ng-click="vm.cancelVisitType()"></a>
        </div>
    </div>

    <div class="portlet-body form">
        @{
            var attributes = new Dictionary<string, object>();
            attributes.Add("name", "visitTypeFrom");
            attributes.Add("novalidate", "");
            attributes.Add("angular-validator-submit", "vm.save()");
            attributes.Add("angular-validator", "");
        }
        @using (var f = Html.BeginForm(htmlAttributes: new HtmlAttributes(attributes).AddClass("horizontal-form scrollable-form-body")))
        {
            using (var s = f.BeginSection())
            {
                <div class="portlet-body" style="display: block;">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                @s.FieldFor(m => m.ServiceTypeId).AsDropDown().Attrs(new { ng_model = "vm.visitType.serviceTypeId", repeat = "vm.serviceTypes" })
                                @s.FieldFor(m => m.Code).Attrs(new { ng_model = "vm.visitType.code" })
                                @s.FieldFor(m => m.Description).Attrs(new { ng_model = "vm.visitType.description" })
                            </div>
                        </div>
                    </div>
                </div>
            }

            <p class="bodyContext" ng-if="!vm.isCreateMode">
                @Html.Raw(L("CreationInfo", "vm.visitType.creatorUser.fullName", "vm.visitType.creationTime | dateTimeFormat"))
            </p>
            <p class="bodyContext" ng-if="!vm.isCreateMode">
                @Html.Raw(L("ModificationInfo", "vm.visitType.lastModifierUser.fullName", "vm.visitType.lastModificationTime | dateTimeFormat"))
            </p>

            <div class="form-actions noborder right">
                <button type="submit" class="btn btn-circle light-grey-pcc btn-outline btn-small" ng-disabled="!vm.permissions.edit"><i class="material-icons ps-btn-material">check</i>Ok</button>
                <button type="button" class="btn btn-circle light-grey-pcc btn-outline btn-small" ng-click="vm.cancelVisitType()"><i class="material-icons ps-btn-material">clear</i>Cancel</button>
            </div>
        }
    </div>
</div>
