@using Pulsesync.IngoTPCC.MasterLookup.MOHMasterCodeMappings.Dto
@model CreateOrUpdateMOHMasterCodeMappingInput

<div class="portlet light" data-drag="true" id="masterDataTypeItemModal">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject">@L("MOHMasterCodeMapping")</span>
        </div>
        <div class="tools pull-right">
            <a class="remove" ng-click="vm.cancel()"></a>
        </div>
    </div>

    <div class="portlet-body form">
        @{
            var attributes = new Dictionary<string, object>();
            attributes.Add("role", "form");
            attributes.Add("id", "vm.mohMasterCodeMappingsForm");
            attributes.Add("name", "vm.mohMasterCodeMappingsForm");
            attributes.Add("novalidate", "");
            attributes.Add("action", "#");
            attributes.Add("angular-validator-submit", "vm.save(vm.mohMasterCodeMapping)");
            attributes.Add("angular-validator", "");
            attributes.Add("ng-validate", "general.validationOptions");
        }
        @using (var f = Html.BeginForm(htmlAttributes: new HtmlAttributes(attributes).AddClass("horizontal-form scrollable-form-body")))
        {
            using (var s = f.BeginSection())
            {
                <div class="portlet-body" style="display: block;">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                @s.FieldFor(m => m.MasterCodeType).Attrs(new { ng_model = "vm.mohMasterCodeMapping.masterCodeType" })
                                @s.FieldFor(m => m.ILTCCode).Attrs(new { ng_model = "vm.mohMasterCodeMapping .iltcCode" })
                                @s.FieldFor(m => m.ILTCDescription).Attrs(new { ng_model = "vm.mohMasterCodeMapping .iltcDescription" })
                                @s.FieldFor(m => m.PSDescription).Attrs(new { ng_model = "vm.mohMasterCodeMapping .psDescription" })
                                @s.FieldFor(m => m.Type).Attrs(new { ng_model = "vm.mohMasterCodeMapping .type" })
                                @s.FieldFor(m => m.Remarks).Attrs(new { ng_model = "vm.mohMasterCodeMapping .remarks" })
                            </div>
                        </div>
                    </div>
                </div>
            }

            <p class="bodyContext" ng-if="vm.editMode">
                @Html.Raw(L("CreationInfo", "vm.mohMasterCodeMapping.creatorUser.fullName", "vm.mohMasterCodeMapping.creationTime | dateTimeFormat"))
            </p>
            <p class="bodyContext" ng-if="vm.editMode">
                @Html.Raw(L("ModificationInfo", "vm.mohMasterCodeMapping.lastModifierUser.fullName", "vm.mohMasterCodeMapping.lastModificationTime | dateTimeFormat"))
            </p>

            <div class="form-actions noborder right">
                <button type="submit" class="btn btn-circle light-grey-pcc btn-outline btn-small" ng-disabled="vm.disableSave"><i class="material-icons ps-btn-material">check</i>Ok</button>
                <button type="button" class="btn btn-circle light-grey-pcc btn-outline btn-small" ng-click="vm.cancel()"><i class="material-icons ps-btn-material">clear</i>Cancel</button>
            </div>
        }
    </div>
</div>
<script>
    $(document).ready(function () {
    });
</script>