@using Abp.Timing
@using Pulsesync.IngoTPCC.Authorization
<div class="row" id="social" ng-controller="tenant.views.referral.socialView as social">
    <div class="col-md-12 col-sm-12 col-xs-12 no-padding main-tab-contents">
        @*<div class="col-md-2 col-sm-2 col-xs-2 padding-left-0">
                <div class="sidebar-nav-fixed sidebar-nav-fixed-annimate affix">
                    <p class="bodyContext bold side-menu-text" ng-click="vm.gotoAnchor('SocialBackground')">@L("SocialBackground")</p>
                    <p class="bodyContext bold side-menu-text" ng-click="vm.gotoAnchor('FamilyMember')">@L("FamilyMember")</p>
                    <p class="bodyContext bold side-menu-text" ng-click="vm.gotoAnchor('SocialReport')">@L("SocialReport")</p>
                    <br />
                    <hr class="no-margin no-padding" style="border-color: #c2cad8;" />
                    <p class="font-13-main margin-5-0" ng-if="!vm.isCreateMode">
                        @Html.Raw(L("CreationInfo", "vm.referral.creatorUser.fullName", "vm.referral.creationTime | date:'d-MMM-yyyy h:mm a'"))
                    </p>
                    <p class="font-13-main margin-5-0" ng-if="!vm.isCreateMode">
                        @Html.Raw(L("ModificationInfo", "vm.referral.lastModifierUser.fullName", "vm.referral.lastModificationTime | date:'d-MMM-yyyy h:mm a'"))
                    </p>
                    <p class="font-13-main margin-5-0" ng-if="!vm.isCreateMode">
                        Status <span class="bold">{{vm.referral.status  == 0 ? 'Open' : 'Closed'}}</span>
                    </p>
                    <p class="font-13-main margin-5-0" ng-if="!vm.isCreateMode">
                        Pending Approval <span class="font-13-main bold">{{vm.referral.pendingApproval ? 'Yes' : 'No'}}</span>
                    </p>
                    <p class="font-13-main margin-5-0" ng-if="!vm.isCreateMode">
                        Pending Admission <span class="font-13-main bold">{{vm.referral.pendingAdmission ? 'Yes' : 'No'}}</span>
                    </p>
                </div>
            </div>*@
        <div class="col-md-6 col-sm-12">
            <div busy-if="vm.loading">
                @Html.Partial("~/App/tenant/views/referral/social/socialBackground.cshtml")
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            @if (IsGranted(AppPermissions.Pages_Tenant_FamilyMembers))
            {
                <div busy-if="vm.loading">
                    <person-detail-familymembers-card id="FamilyMember" is-new="vm.isNew" person-id="vm.referral.personId" referral-id="vm.referral.id"></person-detail-familymembers-card>
                </div>
            }

            @if (IsGranted(AppPermissions.Pages_Tenant_Genogram_View))
            {
                <div busy-if="vm.loading">
                    <genogram-card id="Genogram" title="'@L("Genogram")'" mode="vm.isNew ? 'new' : 'view'" template="'referral'" person-id="vm.referral.personId" referral-id="vm.referral.id"></genogram-card>
                </div>
            }

            <div busy-if="vm.loading">
                @Html.Partial("~/App/tenant/views/referral/social/socialReportView.cshtml")
            </div>
        </div>
    </div>
</div>